[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:schuermannator/oh-my-zsh.git
[submodule "xcode/.xvim2"]
	path = xcode/.xvim2
	url = https://github.com/XVimProject/XVim2.git
[submodule "vim/.vim/pack/zach/start/vim-airline"]
	path = vim/.vim/pack/zach/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/zach/start/vim-surround"]
	path = vim/.vim/pack/zach/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/pack/zach/start/fzf.vim"]
	path = vim/.vim/pack/zach/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/zach/start/rust.vim"]
	path = vim/.vim/pack/zach/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "vim/.vim/pack/zach/start/vim-go"]
	path = vim/.vim/pack/zach/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim/.vim/pack/zach/start/vim-orgmode"]
	path = vim/.vim/pack/zach/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "vim/.vim/pack/zach/start/coc.nvim"]
	path = vim/.vim/pack/zach/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "vim/.vim/pack/zach/start/haskell-vim"]
	path = vim/.vim/pack/zach/start/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim.git
[submodule "vim/.local/share/nvim/site/pack/zach/start/lsp_extensions.nvim"]
	path = vim/.local/share/nvim/site/pack/zach/start/lsp_extensions.nvim
	url = git@github.com:nvim-lua/lsp_extensions.nvim.git
[submodule "vim/.local/share/nvim/site/pack/zach/start/completion-nvim"]
	path = vim/.local/share/nvim/site/pack/zach/start/completion-nvim
	url = git@github.com:nvim-lua/completion-nvim.git
[submodule "vim/.local/share/nvim/site/pack/zach/start/diagnostic-nvim"]
	path = vim/.local/share/nvim/site/pack/zach/start/diagnostic-nvim
	url = git@github.com:nvim-lua/diagnostic-nvim.git
[submodule "vim/.local/share/nvim/site/pack/zach/opt/lsp-status.nvim"]
	path = vim/.local/share/nvim/site/pack/zach/opt/lsp-status.nvim
	url = git@github.com:nvim-lua/lsp-status.nvim.git
[submodule "vim/.local/share/nvim/site/pack/zach/opt/nvim-lspconfig"]
	path = vim/.local/share/nvim/site/pack/zach/opt/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
